
.wrapper{
    background-color: var(--color-black);
    color: var(--color-white);
    border-top: #fff solid 1px;
}

.content {
    width: 560px;
    height: 99px;  
     color: var(--Pure-White, #fff);
     font-family: Inter;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: 162.523%; /* 29.254px */
     opacity: 0.3;
   }
