.wrapper{
    margin: 200px ; 
  
}
.header{
    margin-bottom: 50px;
}
.faqWrapper{
    display: flex;
    justify-content: space-between;
}
.content {
 width: 560px;
 height: 99px;  
  color: var(--Pure-White, #fff);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%; /* 29.254px */
  opacity: 0.3;
}